**/.gradle

**/*.ipr
**/*.iws
**/*.iml

.idea/*
# !.idea/vcs.xml
# !.idea/modules.xml
# !.idea/encodings.xml
# !.idea/codeStyleSettings.xml
# !.idea/runConfigurations/

build
out

examples/etc/structurizr.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.classpath
.project
.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
.settings/org.eclipse.jdt.core.prefs
annotations/.settings/org.eclipse.jdt.core.prefs
annotations/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
annotations/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
client/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
client/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
client/.settings/org.eclipse.jdt.core.prefs
core/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
core/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
core/.settings/org.eclipse.jdt.core.prefs
examples/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
examples/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
examples/.settings/org.eclipse.jdt.core.prefs
spring/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
spring/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
