# Gradle caches, etc
**/.gradle

# IntelliJ IDEA project files
**/*.ipr
**/*.iws
**/*.iml
.idea/*
# !.idea/vcs.xml
# !.idea/modules.xml
# !.idea/encodings.xml
# !.idea/codeStyleSettings.xml
# !.idea/runConfigurations/

# Eclipse project files
.classpath
.project
.settings
**/.settings

# Compiled stuff
build
out
bin
**/bin/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

structurizr-dsl/src/test/resources/dsl/spring-petclinic/.structurizr
structurizr-dsl/src/test/resources/dsl/spring-petclinic/workspace.json

**/structurizr.properties